div.row
  div.input-field.s6.m6.col
    i.material-icons.prefix lock
    input(id="new-password", name="password", type="password",
    data-ng-model="password", data-ng-model-options="{ updateOn: 'blur' }",
    data-ng-change="refreshPasswordMeter();",
    data-ng-class="{ invalid: score < 3 }")
    label(for="password") {{ 'INDEX.PASSWORD' | translate }}
  div.s6.m6.col
    div.progress
      div.determinate#password-strength-indicator
    div#password-strength-text
    div#password-strength-feedback(data-ng-show="feedback")
      span.password-warning.orange-text.text-darken-2(data-ng-bind="feedback.warning")
      br(data-ng-show="feedback.suggestions")
      span.password-suggestion(data-ng-repeat="suggestion in feedback.suggestions" data-ng-bind="suggestion")
div.row
  div.input-field.s6.m6.col
    i.material-icons.prefix lock
    input(id="repeat-password", name="repeat-password", type="password",
    data-ng-model="repeatPassword",
    data-ng-class="{ invalid: repeatPassword=='' || repeatPassword != password }")
    label(for="repeat-password") {{ 'INDEX.CONFIRM_LABEL' | translate }}
  div.s6.m6.col
    p.red-text(data-ng-show="repeatPassword != password && password != ''") {{ 'INDEX.CONFIRM_WARNING' | translate }}
